@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color:#200031;
  color: rgb(201, 204, 206);
}
:root {
  --shadow: rgb(201, 204, 206);
  --scrollbarBG: #200031;
  --thumbBG: #200031;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}
